* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

h1{
    font-size: 40px;
    font-weight: 400;
    color: #124E66;
}

h2{
    font-size: 24px;
    font-weight: 400;
    color: #123;
}

p{
    font-size: 16px;
    font-weight: 400;
    color: #321;
}
header{
    background-color: #C4C4C4;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}

header nav a {
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    transition: 2s;
}

.personal{
    background-color: lightgray;
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    gap: 10%;
    
}

.personal img{
    box-shadow: 4px 4px 4px 0px #00000040;
    width: 15vw;
    border-radius: 50%;
}

.curiosities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 5%;    
    gap: 50px;
}

.list {
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: space-between;
}

.list li{
    width: 102px;
    height: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    align-items: center;
}

.listFigure{
    height: 102px;
    height: 150px;
}
textarea{
    resize: none;
}

.FeedbackForm{
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
}

.inputs{
    margin-left: 3%;
    width: 90%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: #C4C4C4;    
}

.contacs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}